.SeccionesBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
 
}
.btnSecciones {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.229);
}

.btnSecciones:hover {
  outline: 1px solid black;
}
.btnActiveS {
  outline: none;
  background-color: black;
  color: whitesmoke;
}
.btnActiveS:hover {
  outline: none;
}
.SeccionesPrincipal {
  padding-left: 10px;
  background-color: white;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.282);
}
