body{
    display: flex;
    justify-content: center;
    background-color: #c1c1c121;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.Container{
    width:800px;
    /* border: 1px solid; */
}